@charset "utf-8";
/*公共样式开始*/
.wrap {
    background: url("../img/bgpic.png") no-repeat;
    width: 100%;
    max-width: 100%;
    background-size:cover;
    min-height: 620px;
    position: relative;
}
.index-icon {
    background: url("../img/indexIcon.png") no-repeat;
    vertical-align: middle;
    display: inline-block;
}

.order-icons {
    background: url("../img/detai-icons.png") no-repeat;
    vertical-align: middle;
    display: inline-block;
    background-size: 100% ;
}

.nearby-icon {
    background: url("../img/nearby-icon.png") no-repeat;
    vertical-align: middle;
    display: inline-block;
}
.button-left a{
    color: #fff;
}
/*********公共样式结束****************/

/***********header样式开始*************/

.headerwrap {
    background: #017e5c;
    padding: 12px 0 16px 0;
    text-align: center;
    position: relative;
}
.header-icon {
    width: 25px;
    height: 25px;
    background-position: 0 -22px;
    position: absolute;
    right: 25px;
    background-size: 100%;
}
.headerwrap p {
    font-size: 18px;
    color: #FFFFff;
    display: inline-block;
}

/***********header样式结束*************/

/***********按钮组样式开始*************/
.buttons{
    padding: 10px;
    display:-webkit-box;
    display:flex;
    justify-content: center;
    text-align: center;
}
.button-left{
    width: 60px;
    height: 30px;
    background-color: #F2BD47;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    margin-right: 5px;
}
.button-right{
    width: 60px;
    height: 30px;
    background-color: #EEEEEE;
    color: #017e5c;
    font-size: 15px;
    line-height: 30px;
}
/******按钮组样式结束*********/
/************选择地址 模块开始************/
.chooseAddress{
    display: -webkit-box;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    padding: 10px;
    background-color: #EEEEEE;
    color: #000;

}
.chooseAddress > div{
    margin-right: 5px;
    position: relative;
}
.caret{
    width: 25px;
    height: 25px;
    background-position: 0 0;
    position: absolute;
    background-size: 100%;
}
/************选择地址 模块结束**************/

/************输入框 模块开始******************/
.inputs{
    padding: 10px;
}
.inputwrap{
    border: 1px solid #EEEEEE;
    padding: 5px;
    display: -webkit-box;
    display: flex;
    color: #A8A8A8;
    justify-content: space-between;
}
.input-left-img{
    width: 25px;
    height: 25px;
    background-position: 0 -50px;
    background-size: 100%;
}
.input-right-img{
    width: 25px;
    height: 25px;
    background-position: 0 -75px;
    background-size: 100%;
}
/************输入框 模块结束******************/


/*********************商家信息 模块开始**************/

.group {
    width: 93.75%;
    border: 1px solid #d6d6d6;
    margin: 11px auto 0;
}
.group-top{
    display: -webkit-box;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
}
.group1 .group-top .group-top-img {
    width: 80px;
    height: 80px;
    background:url("../img/shop1.png") no-repeat;
    background-size:cover;
}
.group2 .group-top .group-top-img {
    width: 80px;
    height: 80px;
    background:url("../img/shop2.png") no-repeat;
    background-size:cover;
}
.group3 .group-top .group-top-img {
    width: 80px;
    height: 80px;
    background:url("../img/shop3.png") no-repeat;
    background-size:cover;
}
.group-top-right{
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: 15px;
    position: relative;
}
.group-seller {
    font-size: 15px;
    color: #000;
}
.group-detail {
    margin-top: 10px;
    font-size: 12px;
    color: #000;
}
.group-stars {
    margin-top: 14px;
}
.group-stars .star {
    position: relative;
}
.group-stars .star .star1 {
    width: 30px;
    height: 17px;
    background-position: 0 -20px;
    position: absolute;
    z-index: 10;
}
.group-stars .star .star2 {
    width: 14px;
    height: 14px;
    position: absolute;
    background-position: -14px -210px;
}
.star:nth-child(2) .star1{
    left: 20px;
}
.star:nth-child(2) .star2{
    left: 20px;
}
.star:nth-child(3) .star1{
    left: 40px;
}
.star:nth-child(3) .star2{
    left: 40px;
}
.star:nth-child(4) .star1{
    left: 60px;
}
.star:nth-child(4) .star2{
    left: 60px;
}
.star:nth-child(5) .star1{
    left: 80px;
}
.star:nth-child(5) .star2{
    left: 80px;
}
.group-order {
    width: 15px;
    height: 15px;
    background-color: #017e5c;
    color: #FFFFff;
    position: absolute;
    right: 11px;
    top: 19px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
}
.group-order a{
    color: #fff;
}
.group-bottom {
    background-color: #eeeeee;
    box-sizing: border-box;
    padding: 10px 0 10px 8px;
}
.group-bottom p {
    font-size: 15px;
    color: #a6a6a6;
}

/*********************商家信息 模块结束**************/
/*********************导航 模块开始**************/
.nav-wrap {
    text-align: center;
    background: #eeeeee;
    width: 100%;
    position: fixed;
    z-index: 999;
    bottom: 0;
}
.nav-box {
    width: 25%;
    float: left;
    font-size: 12px;
}
.nav-box:nth-child(2) {
    background-color: #017e5c;
    color: #FFFFff;
}
.nav-box:nth-child(2) a{
    color: #FFFFff;
}
.nav-img {
    margin: 11px 0 5px 0;
    width: 16px;
    height: 16px;
}
.nav-word {
    margin-bottom: 11px;
}
.nav-box:nth-child(1) .nav-img{
    background-position: 0 -225px;
}
.nav-box:nth-child(2) .nav-img{
    background-position: 0 -241px;
}
.nav-box:nth-child(3) .nav-img{
    background-position: 0 -257px;
}
.nav-box:nth-child(4) .nav-img{
    background-position: 0 -273px;
}

/*********************导航 模块结束**************/
